{% extends "base.html.twig" %}

{% block content %}

	<div class="articleDetails">
		<div class="underLink">
			<a href="{{ base_url('/market')}}">
				<p>Articles</p>
			</a>
			<p>
				&nbsp >
				{{article.getName() | capitalize}}
			</p>
		</div>

		<h1 class="articleTitle">
			{{article.getName() | capitalize}}
		</h1>
		<div class="article-picture-add-cart">
			<div class="article-picture" style='background-image: url("https://jolivet.needemand.com/realisations/nesti-admin/public/pictures/pictures/{{article.getPicture().name~"."~article.getpicture().extension }}");'></a>
		</div>
		<div class="add-article-cart">
			{% if article.getStock()>0 %}
				<div class="form-add-article">
					<div class="article-price">{{article.getLastPrice()}}
						€</div>
					<div class="in-stock-information">
						In stock
					</div>
					{{ form_open(base_url(),{class:"form-add-article-cart"} )}}

					<label for="inputQuantity">Quantity</label>
					<select id="inputQuantity" class="form-control" name="quantity">
						<option selected>1</option>
						{% for i in range(2,10) %}
							<option>{{i}}</option>
						{% endfor %}
					</select>
					<button type="submit" class="btn-add-article">Add to cart</button>

					{{ form_close() }}

				</div>
			{% else %}
				<div class="form-add-article-out-of-stock">
					<div class="article-price">{{article.getLastPrice()}}
						€</div>
					<div class="out-of-stock-information">
						Currently Out of stock !
					</div>
				</div>
			{% endif %}
		</div>

	</div>

	<div class="article-number-recipes">
		There
		{{recipes | length ==1 ? "is" : "are"}}
		{{recipes | length}}
		{{recipes | length ==1 ? "recipe" : "recipes"}}
		with this ingredient
	</div>

	<div class="recipes-cards">
		{% set index=0 %}
		{% for recipe in recipes %}
			{% if index <4 %}
				<div class="recipe-card">
				{% else %}
					<div class="recipe-card-hidden" hidden>
					{% endif %}
					<div class="recipe-img" style='background-image: url("https://jolivet.needemand.com/realisations/nesti-admin/public/pictures/pictures/{{recipe.getPicture().name~"."~recipe.getPicture().extension }}");'></a>
				</div>
				<div class="recipe-card-body">
					<h5 class="recipe-card-title">{{recipe.recipe_name}}</h5>
					{{ include('/templates/recipe-info.html.twig')  }}
					{{ include('/templates/recipes-grade.html.twig')  }}
					<a href="{{ base_url('/recipe/'~recipe.id_recipes) }}">
						<button class="recipe-btn-see">See Recipe</button>
					</a>
				</div>
			</div>
			{% set index=index+1 %}
		{% endfor %}
		{% if recipes|length >4 %}
			<div class="see-all-recipes" data-hidden="true">
				See more
			</div>
		{% endif %}
	</div>
	<div class="open-modal-cart" data-toggle="modal" type="button" data-target="#modal-go-to-car" hidden></div>
	<div class="modal fade" id="modal-go-to-car" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title article-title-modal">The article has been successfully added to your cart !
					</h5>
					<button type="button" class="close" id="close-modal-go-to-carts" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body article-body-modal">
					<div class="article-resume-article">
						<div class="article-body-img" style='background-image: url("https://jolivet.needemand.com/realisations/nesti-admin/public/pictures/pictures/{{article.getPicture().name~"."~article.getpicture().extension }}");'></div>
						<div class="article-body-info">
							<h1 class="article-body-title">
								{{article.getIngredient().product_name | capitalize}}
							</h1>
							<div class="article-body-price">{{article.getLastPrice()}}
								€/u</div>
							<div class="article-body-quantity"></div>
						</div>
					</div>

					<div class="article-body-text">Would you like to go to your cart or keep looking ?</div>

				</div>

				<div class="modal-footer">
						<button class="btn-keep-looking" data-dismiss="modal"><img class="fas logo-svg" src="{{base_url('/assets/pictures/market.svg')}}" alt="">Keep looking</button>
					<a href="{{ base_url('cart')}}">
						<button class="btn-confirm-go-to-cart">
							<i class="fas fa-shopping-cart mr-2 fa-1x"></i>
							Go to Cart Page</button>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
	<script>

		const csrf = document.querySelector('input[name="csrf_nesti"]');
allRecipes = document.querySelector(".see-all-recipes"); // get the button to display all recipes

if (allRecipes != null) {
allRecipes.addEventListener('click', (function (e) { // add event listener

if (allRecipes.getAttribute("data-hidden") == "true") { // display all recipes
var hiddenRecipes = document.querySelectorAll(".recipe-card-hidden");
hiddenRecipes.forEach(element => element.hidden = false)
allRecipes.setAttribute("data-hidden", "false");
allRecipes.innerHTML = "Hide recipes";
} else if (allRecipes.getAttribute("data-hidden") == "false") { // hide other recipes
var hiddenRecipes = document.querySelectorAll(".recipe-card-hidden");
hiddenRecipes.forEach(element => element.hidden = true)
allRecipes.setAttribute("data-hidden", "true")
allRecipes.innerHTML = "See more";
}
}))
}


formAddArticle = document.querySelector(".form-add-article-cart");

if (formAddArticle != null) {
formAddArticle.addEventListener('submit', (function (e) {
event.preventDefault();
// localStorage.clear();

var log = "{{ session.logged }}";
if (log == "yes") { // if the user is logged in
var quantity = document.querySelector("#inputQuantity").value;
var idArticle = {{ article.id_article }};
var picture = "{{ article.getPicture().name~"."~article.getpicture().extension }}";
var name = "{{ article.getName() }}";
var price = {{ article.getLastPrice() }};
var element = {
"id_article": idArticle,
"quantity": quantity,
"picture": picture,
"name": name,
"price": price
};

var oldCart = []

if (JSON.parse(localStorage.getItem("cart")) != null) { // in the case where the cart isn't empty, we save its value
oldCart = [JSON.parse(localStorage.getItem("cart"))].flat();
}
if (oldCart.length == 0) { // if the cart is empty
const firstCart = element
localStorage.setItem("cart", JSON.stringify(firstCart))
} else { // if the cart has at least one element
const idList = oldCart.map(el => {
return el.id_article
}); // return the id of each element
if (idList.indexOf(element.id_article) != -1) { // in the case where the article is already in the cart, we add the quantity
const finalcart = oldCart.map(el => {
if (el.id_article === element.id_article) {
el.quantity = parseInt(el.quantity) + parseInt(element.quantity);
}
return el;
})
localStorage.setItem("cart", JSON.stringify(finalcart));
} else { // case where the item isn't already in the cart
const newCart = oldCart.concat(element).flat()
localStorage.setItem("cart", JSON.stringify(newCart))
}
}

document.querySelector(".open-modal-cart").click();

var cart = [JSON.parse(localStorage.getItem("cart"))].flat();
var elementAdded = null;
cart.map(el => {
if (el.id_article == idArticle) {
elementAdded = el;
}
});
document.querySelector(".article-body-quantity").innerHTML = "Quantity : " + elementAdded.quantity;


} else { // if the user is not logged in => go to login page
window.location = ROOT + "/login";
}
}))
}
	</script>
{% endblock %}
