<!doctype html>
<html lang="en">

	<head>
		{% block head %}

			<title>
				{% block title %}{% endblock %}
				- NESTI -
			</title>
		{% endblock %}
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		<link
		href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">

		<!-- Font Awesomme -->
		<link
		rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

		<!-- CSS -->
		<link href="{{base_url('/css/style.css')}}" rel="stylesheet">
		<link href="{{base_url('/css/css-reset.css')}}" rel="stylesheet">

	</head>

	<body>
		{% block nav %}
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand" href="{{base_url('home')}}">
					<img src="{{base_url('/assets/pictures/logo2.png')}}" alt="">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse ml-2" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class='nav-link {{loc=="Home" ? "active" : ""}}' href="{{base_url('home')}}">
								<img class=" filter-green fas logo-svg" src="{{base_url('/assets/pictures/home.svg')}}" alt="">
								Home</a>
						</li>
						<li class="nav-item">
							<a class='nav-link {{loc=="Suggestion" ? "active" : ""}}' href="{{base_url('suggestions')}}">
								<img class="fas logo-svg" src="{{base_url('/assets/pictures/fridge.svg')}}" alt="">
								Suggestions</a>
						</li>
						<li class="nav-item">
							<a class='nav-link {{(loc=="Recipes" or loc=="Recipe") ? "active" : ""}}' href="{{base_url('recipes')}}">
								<img class="fas logo-svg" src="{{base_url('/assets/pictures/hat.svg')}}" alt="">
								Recipes</a>
						</li>
						<li class="nav-item">
							<a class='nav-link {{loc=="Market" ? "active" : ""}}' href="{{base_url('market')}}">
								<img class="fas logo-svg" src="{{base_url('/assets/pictures/market.svg')}}" alt="">
								Market</a>
						</li>
					</ul>
					{{ form_open(base_url('/search'),{class:"form-inline my-2 my-lg-0 search-form"})}}
					<input class="form-control mr-sm-2 search-input" type="search" placeholder="Search" id="search-bar" name="search-bar" aria-label="Search">
					<button class="search-nav" type="submit">
						<i class="fas fa-search mr-2"></i>
					</button>
					{{ form_close() }}

					<a id="nav-cart-logo" class='cart-logo nav-link {{loc=="Panier" ? "active" : ""}}' href="{{base_url('cart')}}">
						<i class="fas fa-shopping-cart mr-2 fa-3x"></i>
					</a>
					<a class='login-logo nav-link {{(loc=="Login" or loc=="Register" or loc=="Dashboard") ? "active" : ""}}' href="{{base_url('dashboard')}}">
						<i class="fas fa-user-circle mr-2 fa-3x"></i>
					</a>
				</div>
			</nav>

		{% endblock %}

		<div id="content"> {% block content %}{% endblock %}
			</div>
			<div id="footer">
				{% block footer %}
					2021 &copy; All rights reserved | Created by Thibault Jolivet
				{% endblock %}
			</div>

			{% block script %}{% endblock %}
			<!-- Bootstrap core JavaScript -->
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
			<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>

			<script>
				const ROOT = "{{ base_url() }}";
			</script>
			<script src="{{base_url(urlJS('app.js'))}}"></script>
			{% if loc == "Suggestions" %}
				<script src="{{base_url(urlJS('CardIngredients.js'))}}"></script>
				<script src="{{base_url(urlJS('ingredients.js'))}}"></script>
			{% endif %}

		</body>
	</html>
